{% extends 'registration/index.html' %}
{% block title %}
    Password Reset
{% endblock %}

{% block content %}
<h3 class="mb-3">Forgot Password</h3>
    <form class="user" method="post">
      {%csrf_token%}

    <div class="form-group">
      <input type="email" class="form-control"  name="email" placeholder="Type in Your Email Address">
    </div>
         <div class="form-group">
                  <input type="text" class="form-control " disabled name="secret_ans1"  value="{{ que1 }}">
                </div>
        <div class="form-group">
                    <input type="text" class="form-control " required name="secret_ans1"  placeholder="First Secret Answer">
                </div>
                  <div class="form-group">
                     <input type="text" class="form-control " disabled value="{{ que2 }}">
                    </div>
              <div class="form-group">
                    <input type="text" class="form-control " required name="secret_ans2"  placeholder="Second Secret Answer">
                </div>

    <input type="submit" class="btn btn-info btn-sm" value="Submit"/>
    <hr>

  </form>
{% endblock %}
{% block fixed %}
    fixed-bottom
{% endblock %}