{% extends 'registration/index.html' %}
{% block title %}
    Password Reset
{% endblock %}

{% block content %}
<h3 class="mb-3">Forgot Password</h3>
    <form class="user" method="post">
      {%csrf_token%}

    <div class="form-group">
      <input type="email" class="form-control"  name="email" placeholder="Type in Your Email Address">
    </div>
    <input type="submit" class="btn btn-info btn-sm" value="Submit"/>
    <hr>

  </form>
{% endblock %}
{% block fixed %}
    fixed-bottom
{% endblock %}